<!DOCTYPE html>
<html lang="en">

  <head>
    <title>{{.Title}}</title>
    {{ template "head" }}
  </head>

<body>
  <!-- List with avatar and controls -->

  <div class="demo-layout-waterfall mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--waterfall" style="background-color: rgb(13, 112, 158)">

      <!-- Top row, always visible -->
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">{{.Title}}</span>

        <div class="mdl-layout-spacer"></div>
        <!-- Right aligned menu below button -->
        <button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons">more_vert</i>
        </button>
        <div class="appMenuItemsRight">
          <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
            {{range .MenuItemsRight}}
            <li class="mdl-menu__item"><a href="{{.Link}}" class="mdl-menu__item">{{.Item}}</a></li>
            {{end}}
          </ul>
        </div>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <div class="appMenuItemsLeft">
        <span class="mdl-layout-title" style="padding: 10px">{{.User.Name}}</span>
        <nav class="mdl-navigation">
			<a href="/home" class="mdl-navigation__link"><i class="material-icons"
              style="font-size: 30px; color:  rgb(13, 112, 158)">home</i>Home</a>
          <a href="/myaccount" class="mdl-navigation__link"><i class="material-icons"
              style="font-size: 30px; color:  rgb(13, 112, 158)">account_circle</i>My Account</a>
          <a href="/logout" class="mdl-navigation__link"><i class="material-icons"
              style="font-size: 30px; color:  rgb(13, 112, 158)">arrow_back</i>Logout</a>
        </nav>
      </div>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">
        <div class="mdl-grid">
          <div class="mdl-cell" style="text-align: center; margin:auto">
            <h3>{{.Page.Title}}</h3>
            {{printf "%s" .Page.Body}}
          </div>
        </div>
      </div>
    </main>
  </div>
</body>

</html>
